@model UrlShortener.Models.DescriptionModel?

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Edit Description</h2>
        </div>
    </div>
</div>


<div class="card-body p-4">
    <form method="post">
        
        <div class="form-floating py-2 col-12">
            <input asp-for="Text" class="form-control border-0 shadow" />
            <label asp-for="Text" class="ms-2"></label>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Description" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>